<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC P2P Video Chat</title>
    <link rel="icon" type="image/x-icon" href="images/logo.png">
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <main>
      <h1>SUSUMO MEET</h1>
      <div id="form" autocomplete="off">
        <div class="new">
          <h3>Create Room</h3>
          <label>Name:</label><br />
          <input id="name" type="text" name="name" placeholder="Your name ..." autocomplete="off"><br />
          <label>Password (optional):</label><br />
          <input id="pass" type="password" name="pass" placeholder="Password (optional) ..." autocomplete="off"><br /><br />
          <button type="button" onclick="newRoom()">Enter</button>
        </div>
        <h3><hr></h3>
        <div class="join-meet">
          <h3>Join room</h3>
          <label>Name:</label><br />
          <input id="joinName" type="text" placeholder="Your name ..."><br />
          <label>Room code:</label><br />
          <input id="joinRoomCode" type="text" placeholder="Room code ..."><br />
          <label>Password (optional):</label><br />
          <input id="joinPass" type="password" placeholder="Password (optional) ..."><br /><br />
          <button type="button" onclick="joinRoom()">Enter</button>
        </div>
      </div>
    </main>
    <script>
        document.addEventListener('contextmenu', event => event.preventDefault());
        function newRoom() {
            var name = document.getElementById("name").value;
            var pass = document.getElementById("pass").value;
            location.assign("/newroom?username=" + name + "&password=" + pass);
        }
        function joinRoom() {
            var name = document.getElementById("joinName").value;
            var room = document.getElementById("joinRoomCode").value;
            var pass = document.getElementById("joinPass").value;
            location.assign("/joinroom?username=" + name + "&invitation=" + room + "&password=" + pass);
        } 
    </script>
  </body>
</html>