<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Room Meeting</title>
</head>
<body>
  <nav id="options">
    <button>exit</button>
  </nav>
  <main id="video-grid">
    
  </main>
  <aside id="chat">

  </aside>
  <script>
    const ROOM_ID = "<%= roomId %>"
    const USERNAME = "<%= userName %>"
  </script>
  <script src="webrtcController.js"></script>
</body>
</html>